.Home {
    display: flex;
    flex-direction: column;
    background-image: url(https://st2.depositphotos.com/5922238/8901/v/450/depositphotos_89011754-stock-illustration-set-24-icons-vegan-food.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}